<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <!-- CSS Bootstrap -->
    <!--<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />-->

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/fonts/fontawesome-all.min.css')}}"
    />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700&amp;display=swap">

    <!-- CSS NavBar -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='CSS/style-base.css')}}"
    />

    <!-- CSS Pagina -->
    {%block styles%} {% endblock %}

    <!-- Titulo Pagina -->
    <title>{% block title %} {% endblock title %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md sticky-top py-3 navbar-dark" id="mainNav" style="background: #1d1c1c">
      <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="/">
              <img width="50" height="50" src="https://img.icons8.com/ios/50/D90A0A/dragon.png" alt="dragon" /><span>Uruloki</span>
          </a>
          <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
              <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                      <a class="nav-link {% if request.endpoint == 'home' %}active{% endif %}" href="{{url_for('home')}}">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link {% if request.endpoint == 'torneos' %}active{% endif %}" href="{{url_for('torneos')}}">Eventos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link {% if request.endpoint == 'tienda' %}active{% endif %}" href="{{url_for('tienda')}}">Productos</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

    {% block content %} {% endblock %}

    <footer class="text-white text-center text-lg-start" style="background: #1d1c1c">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col">
            <h5 class="text-uppercase mb-4">Sobre Nosotros</h5>

            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti.
            </p>

            <p>
              Blanditiis praesentium voluptatum deleniti atque corrupti quos
              dolores et quas molestias.
            </p>

            <div class="mt-4">
              <!-- Instagram -->
              <a
                type="button"
                class="btn btn-floating"
                href="https://www.instagram.com/urulokiscz/"
                ><img
                  width="48"
                  height="48"
                  src="https://img.icons8.com/color/48/instagram-new--v1.png"
                  alt="instagram-new--v1"
              /></a>
              <!-- Facebook -->
              <a
                type="button"
                class="btn btn-floating"
                href="https://www.facebook.com/profile.php?id=100064057929678"
                ><img
                  width="48"
                  height="48"
                  src="https://img.icons8.com/fluency/48/facebook.png"
                  alt="facebook"
              /></a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col">
            <h5 class="text-uppercase mb-4 pb-1">Informacion de Contacto</h5>

            <ul class="fa-ul" style="margin-left: 1.65em">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span
                ><span class="ms-2">New York, NY 10012, US</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span
                ><span class="ms-2">info@example.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span
                ><span class="ms-2">+ 01 234 567 88</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-print"></i></span
                ><span class="ms-2">+ 01 234 567 89</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          
          <div class="col">
            <a href="{{url_for('login')}}"><h5 class="text-uppercase mb-4 pb-1">Acceso Administrador</h5></a>
          </div>
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright: Xchar & Namzak
        <section class="mb-4 text-center">
          <a
            class="btn btn-floating m-1"
            href="https://github.com/OscarAg2"
            role="button"
            ><img
              width="50"
              height="50"
              src="https://img.icons8.com/ios-filled/50/FFFFFF/github.png"
              alt="github"
          /></a>
          <a
            class="btn btn-floating m-1"
            href="https://github.com/AstraPAZeg"
            role="button"
            ><img
              width="50"
              height="50"
              src="https://img.icons8.com/ios-filled/50/FFFFFF/github.png"
              alt="github"
          /></a>
        </section>
      </div>
      <!-- Copyright -->
    </footer>

    <!-- JS Bootstrap -->
    <script src="{{url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/bs-init.js')}}"></script>

    {%block scripts%} {%endblock%}
  </body>
</html>
