{% extends "navbar.html" %}

{%block styles%}
<link rel="stylesheet"
  href="{{url_for('static',filename='CSS/style-events.css')}}" />
{%endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="container">
      <h1 class="text-center mt-5">Eventos</h1>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in
            to additional content.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">  <!-- Add style="background-image:{{Variable_name}}" for changing the background with the pic of the event-->
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in
            to additional content.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in
            to additional content.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in
            to additional content.</p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{%block scripts%}
<script src="{{url_for('torneos',filename='Scripts/torneos.js')}}"></script>
{%endblock%}